html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 80px;
  height: 80px;
  background-color: darkcyan;

  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-direction: alternate; */

  border-radius: 50%;
}

.loading-spinner:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-spinner:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}