html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: rgb(209, 209, 209);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition-property: transform;
  transition-duration: 0.5s;
}


.img-container {
  overflow: hidden;
}

.card {
  background-color: white;
  width: 400px;
}

.card:hover {
  box-shadow: 0px 0px 10px 5px #939393;
}

.card:hover img {
  transform: scale(1.5);
}

.card-text {
  padding: 16px;
  font-size: 12px;
  overflow: hidden;
  /* height: 0; */
  /* opacity: 0; */
  /* transition-property: all; */
  /* transition-duration: 1s; */
}

/* .card-text:hover { */
  /* height: 100px; */
  /* opacity: 1; */
  /* font-size: 24px; */
/* } */